* {
  margin: 0;
  padding: 0;
}

body {
  background: url(../img/background.png) repeat-x top center #0C75A0;
}

ul {
  list-style: none;
}

.wrapper {
  width: 1000px;
  margin: 0 auto;
  background: #ffffff;
  box-shadow: 0px 3px 10px 0px rgba(0,0,0,1);
}

/* Header */

.logo {
  width: 500px;
  float: left;
  padding: 13px 0 0 30px;
}

.contacts {
  width: 200px;
  float: right;
  padding-top: 10px;
}

.contacts p:first-child {
  font-weight: bold;
}

.contacts p {
  color: #6eacc0;
  font: 14px Arial;
  line-height: 18px;
}

.contries {
  width: 390px;
  float: right;
  padding-top: 30px;
}

.contries li {
  float: left;
  text-align: center;
}

.contries li a {
  display: block;
  width: 60px;
  color: #6eacc0;
  font: 11px Arial;
}

/* Menu*/

.menu {
  width: 1000px;
  position: relative;
  background: url(../img/panel.png);
  box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.75);
}

/*.menu li {
  float: left;
  position: relative;
}

.menu li a {
  display: block;
  padding: 0 30px;
  line-height: 30px;
  font: 14px Arial;
  color: #ffffff;
  text-decoration: none;
}*/

.menu li {
  float: left;
  position: relative;
  line-height: 30px;
}

.menu li a {
  display: inline-block;
  padding: 0 30px;
  font: 14px Arial;
  color: #ffffff;
  text-decoration: none;
}

.dropdown_travel:after {
  content: url(../img/triangle.png);
  padding-left: 5px;
}

.dropdown_service:after {
  content: url(../img/triangle.png);
  padding-left: 5px;
}

.dropdown_partners:after {
  content: url(../img/triangle.png);
  padding-left: 5px;
}

.submenu {
  display: none;
  position: absolute;
  top: 29px;
  background: url(../img/dropdown.png);
}

.submenu li a {
  display: block;
  padding: 5px 10px;
  font: 14px Arial;
}

.menu li:hover .submenu {
  display: block;
}

/* Content */

.content {
  width: 1000px;
  background: url(../img/content_img.png) repeat-y;
  color: #424c43;
  font: 14px Arial;
  line-height: 20px;
}

.sidebar {
  width: 200px;
  float: left;
  padding: 5px 0 0 15px;
}

.sidebar p:first-child {
  font: 18px Arial;
  font-weight: bold;
  text-align: center;
}

.text {
  width: 600px;
  float: left;
}

.news {
  width: 200px;
  float: right;
  padding: 5px 0 0 15px;
}

.news p:first-child {
  font: 18px Arial;
  font-weight: bold;
  text-align: center;
}

.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.footer {
  width: 1000px;
  margin: 0 auto;
  padding: 15px 0;
  text-align: center;
  font: 12px Arial;
  color: #ffffff;
}
