<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Home work 13-14</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <script src=js/jquery-1.12.3.js></script>
    <script src=js/template.js></script>
    <script src=js/bootstrap.js></script>
    <script src=js/script.js></script>
    <script src=js/script.test.js></script>
  </head>
  <body>

   <script type="text/template" id="test">

    <div class="wrapper">
        <h1><%= head %></h1>
         <form action="#" method="" name="test">
          <ol>
           <% for (var i = 0; i < testQuestions.length; i++) { %>
          <li><%= testQuestions[i].textHead %>
           <% for (var j = 0; j < testQuestions[i].answer.length; j++) { %>
          <div class="questions">
              <input type="radio"
              name="<%= testQuestions[i].radioName[j] %>"
              id="<%= testQuestions[i].id[j] %>">
              <label for="<%= testQuestions[i].id[j] %>"><%= testQuestions[i].answer[j] %></label>
          </div>
           <% }; %>
          </li>
           <% }; %>
          </ol>
        </form>
        <input type="submit" value="<%= submitButton %>" class="btn btn-primary" data-toggle="modal" data-target="#basicModal">
     </div>
   </script>
  </body>
</html>
