* {
  margin: 0;
  padding: 0;
}

@font-face {
    font-family: 'Helvetica Neueregular';
    src: url('../fonts/helveticaneue-thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/helveticaneue-thin-webfont.woff2') format('woff2'),
         url('../fonts/helveticaneue-thin-webfont.eot');
         url('../fonts/helveticaneue-thin-webfont.woff') format('woff'),
         url('../fonts/helveticaneue-thin-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
  background: url(../img/background.jpg) no-repeat;
  background-size: cover;
  font-family: 'Helvetica Neueregular', sans-serif;
}

ul {
  list-style: none;
}

/* Menu */

.header_menu {
  width: 100%;
  background: url(../img/layer.png);
}

.menu {
  float: right;
}

.menu li {
  float: left;
}

.menu li a {
  display: block;
  padding: 0 10px;
  line-height: 35px;
  text-decoration: none;
  color: #60b5ed;
}

.menu li a:hover {
  color: #ffffff;
  background: #4eabda;
}

.my_offers {
  display: block;
  float: right;
  color: #ffffff;
  line-height: 35px;
  border-left: 1px solid #56a2dc;
}

.my_offers:before {
  content: url(../img/flag.png);
  height: 25px;
  float: left;
  padding: 6px 5px 0 15px;
}

.entrance {
  float: right;
  padding: 0 10px;
  margin: 0 20px 0 10px;
  background: linear-gradient(to top, #2e7ac4, #50afdc);
}

.entrance p {
  color: #ffffff;
}

.entrance a {
  display: inline-block;
  line-height: 35px;
  color: #ffffff;
}

.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

/*Main content*/

.main {
  position: relative;
  height: 1028px;
}

.content {
  width: 500px;
  height: 558px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -279px 0 0 -250px;
}

.cadastre {
  padding: 15px 0;
  margin-bottom: 3px;
  text-align: center;
  color: #ffffff;
  background: rgba(0, 0, 0, 0.6);
}

.register_form {
  width: 500px;
  background: rgba(0, 0, 0, 0.6);
}

.facebook_login {
  width: 275px;
  margin: 0 auto;
  padding: 25px 0;
}

.facebook_button {
  display: block;
  position: relative;
  line-height: 35px;
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
  background: #354f8c;
  text-align: center;
  border-radius: 4px;
}

.normal {
  font-weight: normal;
}

.facebook_button:before {
 content: "f";
 position: absolute;
 left: 20px;
 font-size: 25px;
 padding-right: 20px;
 border-right: 1px solid #1d3c73;
 box-shadow: 1px 0px 0px 0px rgba(77,102,166,1);
}

.facebook_button:after {
 content: ">";
 position: absolute;
 right: 20px;
 font-size: 15px;
}

.ou {
  width: 280px;
  margin: 0 auto;
  padding-bottom: 30px;
  text-align: center;
  color: #ffffff;
}

.ou p:before {
  content: " ";
  width: 123px;
  height: 3px;
  display: inline-block;
  background: url(../img/line.png) no-repeat;
  padding-bottom: 5px;
}

.ou p:after {
  content: " ";
  width: 123px;
  height: 3px;
  display: inline-block;
  background: url(../img/line.png) no-repeat;
  padding-bottom: 5px;
}

/* Form */

.form {
  width: 275px;
  margin: 0 auto;
}

.field {
  width: 260px;
  height: 30px;
  padding-left: 15px;
  margin-bottom: 15px;
  background: #100f0f;
  border: none;
}

.field:hover {
  background: #1b5288;
  box-shadow: 0px 0px 15px 1px rgba(76,137,178,1);
}

label {
  color: #ffffff;
}

.account_button {
  width: 160px;
  margin: 0 auto;
  padding: 15px 0;
}

.account {
  width: 151px;
  height: 37px;
  background: linear-gradient(to top, #2e7ac4, #4faddb);
  border: none;
  border-radius: 4px;
  color: #ffffff;
  cursor: pointer;
}

.footer {
  width: 340px;
  margin: 0 auto;
  padding-bottom: 20px;
  text-align: center;
  color: #ffffff;
  font-size: 12px;
}
