$wrapper-width: 1160px;
$wrapper-margin: 0 auto;
$font-nav: 'Ubuntu Condensedregular', Arial, sans-serif;
$font-headings: 'Ubuntumedium', Arial, sans-serif;
$font-text: Arial, sans-serif;
$font-size-nav: 14px;
$font-size-heading-big: 24px;
$font-size-heading-medium: 20px;
$font-size-heading-middle: 16px;
$font-size-heading-small: 13px;
$font-size-text: 13px;
$color-text: #8a8a8a;
