@import "variables";

* {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.container {
  max-width: $container-width;
}

.top__container {
  background: $color-blue;
}

/*HEADER*/

.header__logo {
  padding-top: 10px;
}

.header__logo__text {
  display: block;
  width: 140px;
  padding-top: 10px;
  font-size: $font-16;
  color: $color-white;
}

.header__telephone {
  margin-top: 10px;
}

.header__networks {
  float: right;
  margin-top: 10px;
}

.header__telephone__text {
  line-height: 20px;
  font-size: $font-30;
  color: $color-white;
  display: inline-block;
}

.header__telephone__link {
  display: inline-block;
  font-size: $font-16;
  color: $color-white;
  border-bottom: 1px solid $color-white;
  border-bottom-style: dashed;
   &:hover {
     color: $color-white;
     border: none;
     text-decoration: none;
   }
}

.header__networks__link--fb {
  display: inline-block;
  width: 38px;
  height: 38px;
  background: url('../img/social_networks.png') no-repeat;
   &:hover {
     background: url('../img/social_networks.png') no-repeat -120px 0;
   }
}

.header__networks__link--google {
  @extend .header__networks__link--fb;
  background: url('../img/social_networks.png') no-repeat -40px 0;
   &:hover {
     background: url('../img/social_networks.png') no-repeat -160px 0;
   }
}

.header__networks__link--insta {
  @extend .header__networks__link--fb;
  background: url('../img/social_networks.png') no-repeat -80px 0;
   &:hover {
     background: url('../img/social_networks.png') no-repeat -200px 0;
   }
}

/*ABOUT HOTEL*/

.hotel {
  position: relative;
}

.hotel__img {
  width: 100%;
}

.hotel__tour {
  padding: 10px;
  width: 100%;
  background: rgba(255, 255, 0, 0.7);
}

.hotel__tour__text--country {
  display: block;
  margin: 0 auto;
  width: 145px;
  text-align: center;
  font: {
    family: $font-Trebuchet;
    weight: $font-bold;
    size: $font-25;
  }
}

.hotel__tour__text--code {
  @extend .hotel__tour__text--country;
  font-size: $font-14;
}

.hotel__tour__text--articul {
  @extend .hotel__tour__text--country;
  width: 110px;
  font-size: $font-24;
  color: $color-white;
  background: #000;
}

.hotel__info__about__link {
  display: inline;
  font: {
    family: $font-Trebuchet;
    size: $font-35;
    weight: $font-bold;
  };
 text-decoration: none;
 color: black;
 &:hover {
   color: black;
 }
}

.hotel__info__about--star {
  display: inline-block;
  width: 90px;
  height: 28px;
  margin-left: 15px;
  background: url('../img/star.png');
}

.hotel__info__about--price {
  display: inline;
  font: {
    family: $font-Trebuchet;
    size: $font-35;
    weight: $font-bold;
  }
}

/*ABOUT HOTEL RATE*/

.hotel__info__rate {
  margin: 10px 0;
}

.hotel__info__rate--recall {
  display: inline-block;
  vertical-align: middle;
  width: 97px;
  font: {
    size: $font-14;
    weight: $font-bold;
  }
}

.recall {
  color: $color-grey;
}

.hotel__info__rate--total {
  display: inline-block;
  width: 50px;
  height: 50px;
  padding-top: 15px;
  margin: 0 10px;
  text-align: center;
  vertical-align: middle;
  background: $color-blue;
  font: {
    family: $font-Trebuchet;
    weight: $font-bold;
  }
  color: $color-white;
}

.hotel__info__rate--wrapper {
  display: inline-block;
  width: 279px;
  vertical-align: middle;
}

.hotel__info__rate--room {
  display: inline-block;
  width: 42px;
  font: {
    size: $font-14;
    weight: $font-bold;
  }
}

.rate__head {
  color: $color-grey;
}

.hotel__info__rate--food {
  @extend .hotel__info__rate--room;
  width: 57px;
}

.hotel__info__rate--service {
  @extend .hotel__info__rate--room;
  width: 50px;
}

.hotel__info__rate--infrast {
  @extend .hotel__info__rate--room;
  width: 118px;
}

.hotel__info__days {
  display: inline-block;
  position: relative;
  width: 170px;
  float: right;
  text-align: center;
}

.hotel__info__days--320 {
  display: inline-block;
  height: 80px;
  margin: 0;
  line-height: 80px;
  font: {
    family: $font-Trebuchet;
    size: $font-100;
  }
  color: $color-grey;
}

.hotel__info__days--sunny {
  display: inline-block;
  height: 60px;
  margin: 0;
  line-height: 25px;
  font-size: $font-30;
}

/*EXTREM TOURS*/

.extreme__img {
  width: 100%;
}

.extreme__text__name__head {
  display: inline-block;
  font: {
    family: $font-Trebuchet;
    weight: $font-bold;
    size: $font-30;
  }
  color: #000;
  &:hover {
   color: #000;
   border-bottom: 1px solid $color-grey;
   text-decoration: none;
 }
}

.extreme__text__name__price {
  float: right;
  line-height: 50px;
  display: inline-block;
  font: {
    family: $font-Trebuchet;
    weight: $font-bold;
    size: $font-50;
  }
  color: #000;
}

.extreme__text__name__note {
  display: inline-block;
  font: {
    family: $font-Trebuchet;
    size: $font-14;
  }
  color: $color-grey;
}

.extreme__text__name__discount {
  @extend .extreme__text__name__note;
  font-size: $font-20;
  float: right;
  position: relative;
}

.extreme__text__name__discount:before {
  border-bottom: 1px solid red;
  position: absolute;
  content: "";
  width: 100%;
  height: 50%;
}

/*TEXT SECTION*/

.about__head {
  margin-bottom: 25px;
  font: {
    family: $font-Trebuchet;
    size: $font-30;
    weight: $font-bold;
  }
}

.about__text__entry {
  font: {
    size: $font-16;
    weight: $font-bold;
  }
}

.about__head3 {
  font: {
    size: $font-22;
    weight: bold;
  }
}

.about__text__marked {
  padding: 20px;
  margin: 20px 0;
  margin-left: 30px;
  border-left: 5px solid $color-blue;
  border-radius: 3px;
  background: #e1f8fe;
}

.about__head4 {
  font: {
    size: $font-16;
    weight: $font-bold;
  }
}

.about__table th {
  font-size: $font-12;
}

.about__list {
  list-style-type: none;
  margin-left: 10px;
}

/*RIGHT SECTION*/

.text__section {
  position: relative;
}

.fact {
  position: absolute;
  top: 300px;
  right: 0;
}

.about__coefficient {
  font: {
    size: $font-100;
    family: $font-Trebuchet;
  }
  color: $color-grey;
}

.about__whr {
  font: {
    family: $font-Trebuchet;
    size: $font-30;
  }
}

.about__text__woman {
  font: {
    family: $font-Trebuchet;
    size: $font-20;
  }
  color: $color-grey;
}

/*FOOTER*/

.footer {
  margin-top: 50px;
  padding-top: 15px;
  border-top: 1px solid $color-grey;
}

.footer__text {
  display: inline;
  font-size: $font-12;
}

.footer__company__link {
  display: inline;
  font-size: $font-12;
  color: $color-blue;
  text-decoration: none;
  &:hover {
    color: $color-blue;
    text-decoration: underline;
  }
}

.footer__networks {
  float: right;
  width: 155px;
}

.footer__networks__link--fb {
  @extend .header__networks__link--fb;
  background: url('../img/social_networks.png') no-repeat 0 -38px;
   &:hover {
     background: url('../img/social_networks.png') no-repeat -120px -38px;
   }
}

.footer__networks__link--google {
  @extend .header__networks__link--fb;
  background: url('../img/social_networks.png') no-repeat -40px -38px;
   &:hover {
     background: url('../img/social_networks.png') no-repeat -160px -38px;
   }
}

.footer__networks__link--insta {
  @extend .header__networks__link--fb;
  background: url('../img/social_networks.png') no-repeat -80px -38px;
   &:hover {
     background: url('../img/social_networks.png') no-repeat -200px -38px;
   }
}

@media only screen and (min-width : 418px) {

  .header__logo__img {
    display: block;
    float: left;
    margin-top: 5px;
  }

  .header__logo__text {
    display: inline-block;
    padding-left: 10px;
  }

  .hotel__info__rate--wrapper {
    width: 320px;
  }

 .hotel__info__rate--room,
 .hotel__info__rate--food,
 .hotel__info__rate--service {
   margin-right: 10px;
 }

}

@media only screen and (min-width : 600px) {

  .hotel__tour {
    position: absolute;
    bottom: 20px;
    left: 40px;
    width: 230px;
    height: 230px;
    border-radius: 50%;
  }

}

@media only screen and (min-width : 768px) {

  .header__telephone {
    margin-top: 45px;
    width: 300px;
  }

  .header__networks {
   margin-top: 35px;
   width: 155px;
  }

  .hotel__tour {
    bottom: 50px;
  }

  .hotel__info {
    margin-top: 20px;
  }

  .about__head {
    font-size: $font-50;
  }

}

@media only screen and (min-width : 1024px) {

  .header__logo {
    margin: 15px 0;
  }

  .header__telephone {
   padding-left: 80px;
  }

  .header__telephone__text,
  .header__telephone__link {
    float: none;
  }

  .hotel__info--triangle {
    position: relative;
    width: 170px;
    height: 141px;
  }

  .hotel__info--triangle:after {
    content: "";
    position: absolute;
    right: -80px;
    top: -85px;
    border-left: 330px solid transparent;
    border-right: 160px solid transparent;
    border-bottom: 85px solid $color-white;
  }

  .hotel__info__days {
    position: absolute;
    z-index: 1;
    top: -40px;
    right: 10px;
  }

  .hotel__info__about--star {
    margin: 0 30px 0 25px;
  }

 .hotel__info__rate {
   margin-top: 20px;
 }

 .hotel__info__rate--total {
   margin-left: 30px;
   padding-top: 5px;
   font-size: $font-24;
 }

 .hotel__info__rate--wrapper {
   width: 500px;
 }

.hotel__info__rate--room {
  font-size: $font-16;
  margin: 0 10px 0 10px;
}

.extrem {
  margin-top: 10px;
}

.extreme__text__name__head {
  padding-top: 20px;
}

}

@media only screen and (min-width : 1366px) {

  .header__telephone {
    width: 500px;
    padding-left: 160px;
  }

}
