* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
  font-family: Arial, sans-serif;
}

.menu {
  width: 500px;
  margin: 20px;
  background: #ff8080;
}

.menu_item {
  display: inline-block;
  position: relative;
}

.menu_link {
  display: block;
  margin: 0 25px;
  line-height: 50px;
  color: #fff;
}

a:hover {
  color: #000;
}

.submenu,
.sub_submenu {
  display: none;
}

.submenu {
  position: absolute;
}

.submenu_item {
  width: 150px;
  border-top: 1px solid #e60000;
  background-color: #ff8080;
}

.submenu_item:first-child {
  border-top: none;
}

.submenu_link {
  display: block;
  margin: 0 10px;
  line-height: 40px;
  color: #fff;
}

span {
  margin-left: 50px;
}

.dropdown_sub {
  position: relative;
}

.sub_submenu {
  position: absolute;
  left: 150px;
  top: 0;
}
