* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #f9f9f9;
}

ul{
  list-style: none;
}

.wrapper {
  width: 1060px;
<<<<<<< HEAD
=======
  height: 950px;
>>>>>>> ab96b1591075458a36a01e10eac2886255ffba26
  margin: 0 auto;
  background-color: #ffffff;
  box-shadow: 0px 0px 3px 2px rgba(219,219,219,1);
}

.header img {
  display: block;
  padding: 50px 40px 40px;
}

 /* Menu */

.menu {
<<<<<<< HEAD
  width: 966px;
  margin: 0 auto;
  margin: 0 40px;
  background: url(../img/panel.png);
=======
width: 966px;
margin: 0 auto;
margin: 0 40px;
background: url(../img/panel.png);
>>>>>>> ab96b1591075458a36a01e10eac2886255ffba26
}

.menu li {
  display: inline-block;
<<<<<<< HEAD
}

.menu li a {
  display: block;
  padding: 0 20px;
  text-decoration: none;
  font: 14px Arial;
  text-align: center;
  color: #ffffff;
  line-height: 30px;
}

.menu li:nth-child(2) :hover {
  background: url(../img/hover.png) no-repeat;
  background-size: 100%;
}

/* Main */

.main {
  width:1000px;
}

/* Left menu*/
=======
  width: 101px;
  height: 30px;
  padding: 10px 10px 0;
  font: 14px Arial;
  text-align: center;
  color: #ffffff;
}

.menu li:nth-child(2) {
  width: 80px;
  background: url(../img/hover.png) no-repeat;
  background-size: 100% 100%;
}

/* Left menu */
>>>>>>> ab96b1591075458a36a01e10eac2886255ffba26

.left_menu {
  float:left;
  width: 239px;
<<<<<<< HEAD
  margin: 40px 0 0 40px;
  border: 1px solid #c8c8c8;
}

.left_menu li a {
  display: block;
  padding: 12px 20px;
  text-decoration: none;
  font: 13px Arial;
  color: #656363;
  border-bottom: 1px solid #c8c8c8;
}

.left_menu li:nth-child(3) :hover {
=======
  height: 239px;
  margin: 40px 40px;
  border: 1px solid #c8c8c8;
}

.left_menu li {
  display: block;
  padding: 12px 20px;
  border-bottom: 1px solid #c8c8c8;
  font: 13px Arial;
  color: #656363;
}

.left_menu li:nth-child(3) {
>>>>>>> ab96b1591075458a36a01e10eac2886255ffba26
  background: #f9f9f9;
  color: #2c2c2c;
  text-indent: 10px;
}

<<<<<<< HEAD
/* Image*/

.img {
  width: 678px;
  float: right;
  margin: 40px 0 0 40px;
}

=======
>>>>>>> ab96b1591075458a36a01e10eac2886255ffba26
/* Content */

.content {
  float: right;
<<<<<<< HEAD
  width: 645px;
  margin: 30px 0 50px;
}

.content p {
=======
  width: 730px;
  height: 650px;
  margin-top: 40px;
}

p {
  padding: 30px 30px;
>>>>>>> ab96b1591075458a36a01e10eac2886255ffba26
  font: 14px Arial;
  color: #2c2c2c;
  line-height: 20px;
}

<<<<<<< HEAD
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

/* Footer */

.footer {
  width: 1010px;
}

.footer_menu {
  width: 790px;
  float: left;
  margin-left: 40px;
  background: #e1e1e1;
}

.footer_menu li {
  display: inline-block;
  padding: 0 20px;
}

.footer_menu li a {
  text-decoration: none;
  font: 14px Arial;
  color: #2c2c2c;
  text-align: center;
  line-height: 30px;
}

.footer_menu li:nth-child(2) :hover {
  text-decoration: underline;
}

.copyright {
  width: 180px;
  float: right;
  background: #e1e1e1;
}

.copyright p {
  color: #2c2c2c;
  line-height: 30px;
}

.footer .clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
=======
/* Footer */

.footer {
  clear: both;
  width: 966px;
  margin: 0 auto;
  margin: 0 40px;
  background: #e1e1e1;
}

.footer li {
  display: inline-block;
  width: 101px;
  height: 25px;
  padding: 10px 35px 0 0;
  font: 13px Arial;
  text-align: center;
}

.footer li:nth-child(2) {
  text-decoration: underline;
}

.footer li:nth-child(5) {
  width: 170px;
  padding: 10px 0 0 220px;
>>>>>>> ab96b1591075458a36a01e10eac2886255ffba26
}
