$font-montserrat-bold: 'Montserrat Bold', Arial, sans-serif;
$font-montserrat-reg: 'Montserrat Regular', Arial, sans-serif;
$font-roboto-light: 'Roboto Light', Arial, sans-serif;
$font-size-10: 10px;
$font-size-14: 14px;
$font-size-16: 16px;
$font-size-18: 18px;
$font-size-20: 20px;
$font-size-22: 22px;
$font-size-24: 24px;
$font-size-30: 30px;
$font-size-52: 52px;
$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1440px;
$background-color-red: #ff4e50;
$background-color-blue: #4e73db;
$background-color-yellow: #ffa507;
$background-color-green: #1cd7ad;
$font-color-dark: #333;
$font-color-white: #fff;
$font-color-red: #ff4e50;
$button-width: 280px;
$button-width-table: 225px;
$margin-center: 0 auto;
$border-radius-20: 20px;
$border-radius-100: 100%;
