@import url(https://fonts.googleapis.com/css?family=Kaushan+Script);
@import url(https://fonts.googleapis.com/css?family=Orbitron:700);

* {
  margin: 0;
  padding: 0;
}

body {
  background: #e6e6ff;
}

.heading {
  margin: 20px 0;
  text-align: center;
  color: #1a75ff;
  font-family: 'Kaushan Script', cursive;
  text-shadow: #ccc 0 1px 0, #c9c9c9 0 2px 0, #bbb 0 3px 0, #b9b9b9 0 4px 0, #aaa 0 5px 0,rgba(0,0,0,.1) 0 6px 1px, rgba(0,0,0,.1) 0 0 5px, rgba(0,0,0,.3) 0 1px 3px, rgba(0,0,0,.15) 0 3px 5px, rgba(0,0,0,.2) 0 5px 10px, rgba(0,0,0,.2) 0 10px 10px, rgba(0,0,0,.1) 0 20px 20px;
}

.page {
  width: 95%;
  height: 400px;
  margin: 20px auto;
  background: url('../img/1.jpg');
  background-size: cover;
  border-radius: 20px;
  box-shadow: 6px 9px 30px -4px rgba(102,163,255,1);
}

.page:nth-child(3) {
  background: url('../img/2.jpg');
  background-size: cover;
}

.page:nth-child(4) {
  background: url('../img/3.jpg') top center;
  background-size: cover;
}

.page:nth-child(5) {
  background: url('../img/4.jpg') top center;
  background-size: cover;
}

.page:nth-child(6) {
  background: url('../img/5.jpg') top center;
  background-size: cover;
}

.page__link {
  visibility: hidden;
  display: block;
  width: 0;
  height: 100%;
  -webkit-transition: width 0.7s;
  -moz-transition: width 0.7s;
  -o-transition: width 0.7s;
  transition: width 0.7s;
}

.page__hover__content {
  display: block;
  height: 350px;
  padding-top: 50px;
  background: rgba(0, 153, 255, 0.7);
  border-radius: 20px;
  text-align: center;
  color: #fff;
  font-family: 'Orbitron', sans-serif;
  font-size: 25px;
  line-height: 35px;
}

.page:hover .page__link {
  visibility: visible;
  width: 100%;
  text-decoration: none;
}

@media (max-width: 767px) {

  .wrapper {
    max-width: 320px;
    margin: 0 auto;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {

  .wrapper {
     min-width: 768px;
   }

   .clearfix:after {
     content: " ";
     visibility: hidden;
     display: block;
     height: 0;
     clear: both;
   }

  .page {
    width: 41.67%;
    float: left;
    margin: 20px 4.16%;
  }
}

@media (min-width: 1024px) {

  .wrapper {
    min-width: 1024px;
  }

  .page {
    width: 31.25%;
    float: left;
    margin: 20px 1.04%;
}
}
